@import '../abstracts/variable';
@import '../abstracts/mixins';
@import '../abstracts/media';

.main-page {
  @include flex-center(column); /* Center content with flex-direction column */
  gap: 40px;
}

.typing-container {
  width: 100%;
  height: 3rem; /* Fix height to avoid layout shift */
  @include flex-center(row); /* Center content horizontally and vertically */
  margin: 20px 0;
  text-align: center;

  .typing-text {
    font-size: $font-size-xlarge; /* Use large font size for typing effect */
    border-right: 2px solid $color-black; /* Cursor effect */
    white-space: nowrap;
    overflow: hidden;
    font-family: $font-monospace; /* Use monospace font for typing effect */
    display: inline-block;
  }
}

.section-box {
  position: relative;
  width: 50%;
  background-color: $color-white;
  border: 1px solid $color-gray-light;
  padding: 20px;
  z-index: $z-index-header;
  @include flex-center(column); /* Center content inside the box */
}
